#logContainer {
    overflow-y: auto;
    overflow-y: scroll;
    white-space: pre-wrap;
    max-height: 50vh;
}

.chart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.chart-item {
    /* background: #f8f9fa; */
    background: var(--bs-custom-container-focus);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.adminChart {
    max-width: 100%;
}