.cart-container {
    background-color: var(--bs-custom-container-focus) !important;
}
.cart-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.cart-table th, .cart-table td {
    padding: 10px;
    border-bottom: 1px solid #444;
}
.cart-table th {
    background: #2a2a2a;
}
.cart-table img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}
.checkout-btn {
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    background: #10b981;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.checkout-btn:hover {
    background: #059669;
}