.fs-0 {
    font-size: 4rem;
}
.fs-7 {
    font-size: .8rem;
}
/*change the effect of the input form-control*/
.form-control:focus {
    outline: none;
    background-color: inherit; 
    box-shadow: none; 
}
.form-control {
    border: 2px solid #EEF0F4; 
    transition: border-color 1s; 
}
.input-group {
    border: 2px solid white; 
    transition: border-color 1s; 
}
.input-group:focus-within {
    border-color: #287efe; 
}
.clear-btn {
    display: none;
}
.item:hover {
    background-color: #EEF0F4;
}
/*change hover effect of btn boostrap*/
.noHoverEffect:hover {
    background-color: inherit; 
    color: inherit; 
    border-color: inherit; 
}
/*hover dropdown and full width*/
.dropdown-menu-hover {
    display: none;
    left: 0;
    right: 0;
    width: 100%;
    top: 100%;
    z-index: 5;
}
.dropdown-menu-fullwidth {
    left: 0;
    right: 0;
    width: 100%;
    top: 100%;
    z-index: 5;
}
/*black line when hover*/
.blackLineUnderneath {
    position: relative;
    display: inline-block; 
    padding-bottom: 5px; 
    width: fit-content;
}
.blackLineUnderneath::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px; 
    bottom: 0;
    left: 0;
    background-color: black; 
    transition: width 0.3s ease-in-out; 
}
.card:hover .blackLineUnderneath::after {
    width: 100%; 
}
.blackLineUnderneath:hover::after {
    width: 100%;
}
/*logo*/
.logo {
    position: relative;
    color: #636363;
    background-color:#EEF0F4;
    transition: color 0.6s 0.3s ease-in-out;
}
@property --fill {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}
  
.logo::before,
.logo::after {
    position: absolute;
    z-index: -1;
    content: "";
    inset: -5px;
    border-radius: inherit;
    background: conic-gradient(currentColor var(--fill), transparent var(--fill));
    transition: --fill 0.6s 0.3s ease-in-out;
}
  
.logo:hover,
.logo:focus-visible,
.logo:focus-within {
    color: lightblue;
    outline: 1px solid transparent;
}

.logo:hover span,
.logo:focus-visible span,
.logo:focus-within span {
    color: lightblue !important;
}
  
.logo:hover,
.logo:hover::before,
.logo:hover::after {
    transition-delay: 0s;
}
.logo:hover,
.logo:focus-visible,
.logo:focus-within {
    --fill: 50%;
}

.logo::after {
    transform: rotate(180deg);
}