<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <listener>
        <description>Handles Log4j Core lifecycle</description>
        <listener-class>
            org.apache.logging.log4j.web.Log4jServletContextListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>listeners.DatabaseConnectionListener</listener-class>
    </listener>
    <listener>
        <listener-class>listeners.RequestTimingListener</listener-class>
    </listener>
    <listener>
        <listener-class>listeners.SessionCountingListener</listener-class>
    </listener>

    <!-- SERVLET DECLARATIONS -->
    <!-- TEMPLATE:
    <servlet>
        <servlet-name>n_TestServlet</servlet-name>
        <servlet-class>controller.TestServlet</servlet-class>
    </servlet>
     -->

    <servlet>
        <servlet-name>n_LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_RedirectServlet</servlet-name>
        <servlet-class>controller.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_ErrorServlet</servlet-name>
        <servlet-class>controller.ErrorServlet</servlet-class>
    </servlet>

    <!-- SERVLET MAPPINGS -->
    <!-- TEMPLATE:
    <servlet-mapping>
        <servlet-name>n_TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
     -->
    <servlet-mapping>
        <servlet-name>n_LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_RedirectServlet</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <!-- FILTER DECLARATIONS -->
    <filter>
        <filter-name>n_MaintenanceFilter</filter-name>
        <filter-class>filters.MaintenanceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>n_AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>

    <!-- FILTER MAPPINGS -->
    <filter-mapping>
        <filter-name>n_MaintenanceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>n_AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- ERROR PAGE | COMMENT OUT IF YOU WANT TOMCAT'S ERROR PAGE TO BE DISPLAYED INSTEAD -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
