<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <listener>
        <description>Handles Log4j Core lifecycle</description>
        <listener-class>
            org.apache.logging.log4j.web.Log4jServletContextListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>listeners.DatabaseConnectionListener</listener-class>
    </listener>
    <listener>
        <listener-class>listeners.RequestTimingListener</listener-class>
    </listener>
    <listener>
        <listener-class>listeners.SessionCountingListener</listener-class>
    </listener>
    <listener>
        <listener-class>listeners.SchedulerListener</listener-class>
    </listener>

    <!-- SERVLET DECLARATIONS -->
    <!-- TEMPLATE:
    <servlet>
        <servlet-name>n_TestServlet</servlet-name>
        <servlet-class>controller.TestServlet</servlet-class>
    </servlet>
     -->

    <servlet>
        <servlet-name>n_LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_RedirectServlet</servlet-name>
        <servlet-class>controller.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_ErrorServlet</servlet-name>
        <servlet-class>controller.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_ChatServlet</servlet-name>
        <servlet-class>controller.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_ChatLoader</servlet-name>
        <servlet-class>controller.ajax.ChatLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_ResourceServlet</servlet-name>
        <servlet-class>controller.ResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_ProductLoader</servlet-name>
        <servlet-class>controller.ajax.ProductLoader</servlet-class>
    </servlet>
    <!-- <servlet>
        <servlet-name>n_AJAXServlet</servlet-name>
        <servlet-class>controller.vnpay.AJAXServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_QueryServlet</servlet-name>
        <servlet-class>controller.vnpay.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_RefundServlet</servlet-name>
        <servlet-class>controller.vnpay.RefundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_VNPayRedirectServlet</servlet-name>
        <servlet-class>controller.vnpay.VNPayRedirectServlet</servlet-class>
    </servlet> -->
    <servlet>
        <servlet-name>n_IPNServlet</servlet-name>
        <servlet-class>controller.IPNServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_PayReturnServlet</servlet-name>
        <servlet-class>controller.PayReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_PayServlet</servlet-name>
        <servlet-class>controller.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_LogServlet</servlet-name>
        <servlet-class>controller.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_AdminStatsServlet</servlet-name>
        <servlet-class>controller.ajax.AdminStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <servlet-class>controller.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_CategoryLoader</servlet-name>
        <servlet-class>controller.ajax.CategoryLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_AdminTableLoader</servlet-name>
        <servlet-class>controller.ajax.AdminTableLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_AdminCPServlet</servlet-name>
        <servlet-class>controller.AdminCPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n_ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>


    <!-- SERVLET MAPPINGS -->
    <!-- TEMPLATE:
    <servlet-mapping>
        <servlet-name>n_TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
     -->
    <servlet-mapping>
        <servlet-name>n_LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_RedirectServlet</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_ChatLoader</servlet-name>
        <url-pattern>/ajax/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_ResourceServlet</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_ProductLoader</servlet-name>
        <url-pattern>/ajax/products</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>n_AJAXServlet</servlet-name>
        <url-pattern>/vnpay/ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_QueryServlet</servlet-name>
        <url-pattern>/vnpay/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_RefundServlet</servlet-name>
        <url-pattern>/vnpay/refund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_VNPayRedirectServlet</servlet-name>
        <url-pattern>/vnpay/redirect/*</url-pattern>
    </servlet-mapping> -->
    <servlet-mapping>
        <servlet-name>n_IPNServlet</servlet-name>
        <url-pattern>/ipn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_PayReturnServlet</servlet-name>
        <url-pattern>/return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_PayServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_LogServlet</servlet-name>
        <url-pattern>/logs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_AdminStatsServlet</servlet-name>
        <url-pattern>/ajax/admin/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_CategoryLoader</servlet-name>
        <url-pattern>/ajax/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_AdminTableLoader</servlet-name>
        <url-pattern>/ajax/admin/table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_AdminCPServlet</servlet-name>
        <url-pattern>/admin/cp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n_ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>

    <!-- FILTER DECLARATIONS -->
    <filter>
        <filter-name>n_MaintenanceFilter</filter-name>
        <filter-class>filters.MaintenanceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>n_AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>

    <!-- FILTER MAPPINGS -->
    <filter-mapping>
        <filter-name>n_MaintenanceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>n_AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- ERROR PAGE | COMMENT OUT IF YOU WANT TOMCAT'S ERROR PAGE TO BE DISPLAYED INSTEAD -->
    <!-- <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page> -->
    <!-- <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page> -->

    <!-- ENDPOINTS -->
    <!-- ChatEndPoint AT /chat OR ws://kakgonbri.zapto.org/prj/chat-->



    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>        
            <secure>true</secure>        
        </cookie-config>
    </session-config>
</web-app>
